@model IEnumerable<ProjectCrux.Models.Question>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.questionRating)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.questionRating)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.questionId }) |
                @Html.ActionLink("Details", "Details", new { id = item.questionId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.questionId })
            </td>
        </tr>
    }

</table>

